
*.db
*.opendb
*.vcxproj
*.filters
*.user
*.sln
.DS_Store
*.xml
*.txt
*.iml
*.cmake
*.c
*.check_cache
*.bin
*.cpp
*.make
*.marks
*.log
*.cbp
control_1/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/a.out
control_1/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/a.out
control_1/cmake-build-debug/CMakeFiles/Makefile2
control_1/cmake-build-debug/Makefile
